# Port where the application will be exposed on the host
PORT=3000

# Folder path on the host machine where the database and backups will be stored
DB_DIR=./data

# Internal Database URL (used by Prisma inside the container)
DATABASE_URL=file:/app/data/figuritas.db

# Docker network to connect to (e.g. for reverse proxies like Nginx Proxy Manager)
DOCKER_NETWORK=album_network

